.CustomerAssetsDetails {
    background-image: url('./photos/CustomerAssetsDetailsback.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin-top: 100px;
    height: 100vb;
    /* display: flex;
    flex-direction: column;
    align-items: center; מרכז את התוכן */

}

.table-container {
    background-color: rgba(255, 255, 255, 0.1); /* Optional: Dark transparent overlay for better readability */
    /* width: 100%; תוכל לשנות את רוחב הטבלה כפי שמתאים לך */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    /* width: 100%; */
    margin-bottom: 20px; /* להוסיף רווח מתחת לכותרת */
}

.table{
    margin-top: 10px;
    /* border-collapse: collapse; */
    /* width: 100%;להבטיח שהטבלה תשתמש בכל רוחב האפשרי */
    margin-left: 0px; 
}

th, td {
    text-align: center;
    padding: 15px;
    border: 1px solid gray;
}

th {
    background-color: lightblue;
}

.details-container {
    padding: 30px;
    background-color: #f3f3f3;
}

td:hover {
    background-color: #ade8f4;
    cursor: pointer;
}
