
.EmployeeInventoryUpdate2 {
    background-image: url('./photos/beige.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    display: flex;
    justify-content: center; /* מרכז אנכית */
    font-family: Calibri, sans-serif;
    padding-top: 100px;
    margin-bottom: 10px;

}
h1 {
    margin: 0; /* לא רוצה ריווח מסביב לכותרת */
    padding: 0;
}
.form2 {
    width: 100%;
    background-color: transparent;
    margin-top: 0; 
}
.InventoryForm2 {
    background-color: rgba(0, 0, 0, 0.2);
    font-size: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 800px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* box-sizing: border-box; */
}

.styled-table2 {
    width: 100%;
    max-width: 100%;
    /* border-collapse: collapse; */
    /* margin: 20px 0; */
    font-size: 1em;
    /* border-radius: 10px; */
    /* overflow: hidden; */
    margin: 0%;
}

.styled-table2 th, .styled-table2 td {
    /* padding: 5px; */
    /* text-align: left; */
}

.styled-table2 thead tr {
    background-color: #009879;
    font-weight: bold;
}

.styled-table2 tbody tr:nth-of-type(even) {
    /* background-color: #f3f3f3; */    
    background-color: transparent; 
}

.styled-table2 tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table2 tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}
