[23:01, 26.6.2024] מיכלי מערכות:
                   [23:01, 26.6.2024] מיכלי מערכות: .managerCalendar {
                                          width: 100%;
                                          padding: 20px;
                                          box-sizing: border-box;
                                          background-image: url('./photos/pic.jpg'); /* Adjust the path if necessary */
                                          background-size: cover;
                                          background-position: center;
                                      }

#eventForm {
    margin: 100px auto 20px auto; /* Adjust the top margin to move it below the header */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 15px;
    width: 300px; /* Set a fixed width */
    background: white; /* Remove semi-transparent background */
}

#eventForm label {
    display: block;
    margin-bottom: 8px;
}

#eventForm input,
#eventForm button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 12px;
}

.smallCalendar {
    width: 70%; /* Narrower width for the calendar */
    margin: 20px auto;
    position: relative;
    left: 46%; /* Move it to the right */
    transform: translateX(-50%); /* Center it relative to its new position */
}

.react-calendar__tile {
    position: relative;
}

.react-calendar__tile:hover {
    background-color: lightblue;
}

.calendar-task {
    background-color: #bfffeb;
    padding: 2px 5px;
    border-radius: 4px;
    font-size: 12px;
    text-align: center;
    margin-top: 5px;
}

.task-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.task-modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.task-modal-content h2 {
    margin-bottom: 10px;
}

.task-modal-content button {
    margin-top: 10px;
    padding: 5px 10px;
    cursor: pointer;
}

.ManagerSideBar {
    margin-top: 90px; /* Adjust this value based on your header's height */
}